.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-title {
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
}

.our-team-list-item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.our-team-personal-photo {
  margin-bottom: 30px;
}
.our-team-personal {
  margin-bottom: 10px;
}
.our-team-profession {
  margin-bottom: 16px;
}
.our-team {
  background-color: #f5f4fa;
}
.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    background-color: var(--acent-color);
  }
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: white;
  }
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-team-personal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
